
*.exe
*.ilk
*.pdb
*.ipch
*.opensdf
*.sdf
*.log
*.obj
*.pch
*.tlog
*.idb
*.dll
*.suo
*.rar
modelCapture.v12.suo
*.suo
*.jpg
x64/Release/modelCapture.lib
x64/Release/modelCapture.exp
modelCapture.v12.suo
